KERNEL=="ttyS[0-1]*", KERNELS=="ttyS0", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM0"
KERNEL=="ttyS[0-1]*", KERNELS=="ttyS1", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM1"
KERNEL=="ttyUSB[0-9]*", KERNELS=="1-11.1:1.0", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM2"
KERNEL=="ttyUSB[0-9]*", KERNELS=="1-11.1:1.1", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM3"
KERNEL=="ttyUSB[0-9]*", KERNELS=="1-11.1:1.2", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM4"
KERNEL=="ttyUSB[0-9]*", KERNELS=="1-11.1:1.3", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM5"
KERNEL=="ttyUSB[0-9]*", KERNELS=="1-11.2:1.0", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM6"
KERNEL=="ttyUSB[0-9]*", KERNELS=="1-11.2:1.1", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM7"
KERNEL=="ttyUSB[0-9]*", KERNELS=="1-11.2:1.2", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM8"
KERNEL=="ttyUSB[0-9]*", KERNELS=="1-11.2:1.3", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM9"
