# rename interfaces with MAC address
#SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:90:e8:00:d7:38", NAME="eth0"
#SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:90:e8:00:d7:58", NAME="eth1"
#SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:90:e8:00:d7:59", NAME="eth2"
#SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:90:e8:00:d7:5a", NAME="eth3"
#SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:90:e8:74:44:49", NAME="eth4"
#SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:90:e8:74:44:4a", NAME="eth5"

# rename interfaces with PCI bus number
#SUBSYSTEM=="net", SUBSYSTEMS=="pci", ACTION=="add", KERNELS=="0000:00:1f.6", NAME="eth0"

# rename interfaces to MAC address
#SUBSYSTEM=="net", SUBSYSTEMS=="pci", ACTION=="add", IMPORT{builtin}="net_id", NAME="$env{ID_NET_NAME_MAC}"

