[Unit]
Description=Moxa FT260 driver binding service
After=getty.target
Before=mx_gpio_export.service

[Service]
Type=oneshot
ExecStart=/sbin/mx_ft260_bind start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
