[Unit]
Description=Moxa FT260 driver binding service

[Service]
Type=oneshot
ExecStart=/sbin/mx_ft260_bind start
ExecStop=/sbin/mx_ft260_bind stop
After=networking.service
Before=mx_gpio_export.service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
