[Unit]
Description=Moxa DA820C series initial setting
Requires=dev-ttyS0.device
After=dev-ttyS0.device
Before=rc-local.service

[Service]
Type=oneshot
ExecStart=/sbin/da820c_platform_init start
ExecStop=/sbin/da820c_platform_init stop
RemainAfterExit=yes
ExecStartPre=/bin/sleep 1

[Install]
WantedBy=multi-user.target
